In [1]:
import pandas as pd
import fundamentus as fund
from visions.functional import cast_to_inferred, detect_type, infer_type
from visions.typesets import CompleteSet

lista = pd.read_csv('fundamentus.csv')

In [2]:
%%time

lista = fund.get_data()

100%|██████████| 439/439 [03:46<00:00,  1.94it/s]CPU times: user 45.1 s, sys: 406 ms, total: 45.5 s
Wall time: 3min 46s

In [4]:
lista.groupby('setor')['codigo'].count().reset_index(name='qtd acoes').sort_values(['qtd acoes'], ascending=False)

                                 setor  qtd acoes
9                     Energia Elétrica         67
12                         Financeiros         48
6              Construção e Engenharia         39
32       Tecidos, Vestuário e Calçados         29
4                             Comércio         22
20             Máquinas e Equipamentos         17
31             Siderurgia e Metalurgia         16
11               Exploração de Imóveis         16
18              Material de Transporte         14
1                            Alimentos         13
34                          Transporte         13
27                            Químicos         12
28                               Saúde         12
24               Previdência e Seguros         11
16                     Madeira e Papel         10
14             Holdings Diversificadas         10
7                             Diversos          8
23     Petróleo, Gás e Biocombustíveis          8
33                    Telecomunicações          7
5              Comércio e Distribuição          7
29                            Serviços          7
35               Utilidades Domésticas          6
37                   Água e Saneamento          6
22                              Outros          5
36                     Viagens e Lazer          5
26                Programas e Serviços          5
25  Prods. de Uso Pessoal e de Limpeza          4
30       Serviços Financeiros Diversos          3
0                         Agropecuária          3
15               Hoteis e Restaurantes          3
13                                 Gás          3
21                               Mídia          2
8                           Embalagens          2
19                           Mineração          2
17                  Materiais Diversos          1
10              Equipamentos Elétricos          1
3          Computadores e Equipamentos          1
2                              Bebidas          1

In [5]:
lista.loc[lista.setor == 'Utilidades Domésticas', ['codigo', 'cotacao', 'pl', 'roe', 'div_yield', 'lpa']].sort_values(['div_yield'], ascending=False)

    codigo cotacao     pl                   roe div_yield   lpa
434  WHRL4     7.1   7.53                  0.77      0.15  0.94
416  UCAS3     4.5  26.74                 0.069     0.139  0.17
433  WHRL3    6.96   7.38                  0.77     0.139  0.94
228  HETA3    4.01   0.59  0.009000000000000001       0.0  6.75
229  HETA4    8.02   1.19  0.009000000000000001       0.0  6.75
235  IGBR3     8.5   8.26  0.013999999999999999       0.0  1.03

In [6]:
lista.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 42 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   scraped_date        439 non-null    object
 1   codigo              439 non-null    object
 2   cotacao             439 non-null    object
 3   data_cotacao        439 non-null    object
 4   setor               439 non-null    object
 5   subsetor            439 non-null    object
 6   valor_mercado       439 non-null    object
 7   valor_firma         439 non-null    object
 8   numero_acoes        439 non-null    object
 9   pl                  439 non-null    object
 10  lpa                 439 non-null    object
 11  pvp                 439 non-null    object
 12  vpa                 439 non-null    object
 13  pebit               439 non-null    object
 14  marg_bruta          439 non-null    object
 15  psr                 439 non-null    object
 16  marg_ebit           439 non-null    object
 17  pativos             439 non-null    object
 18  marg_liquida        439 non-null    object
 19  p_cap_giro          439 non-null    object
 20  ebit_ativo          439 non-null    object
 21  p_ativ_circ_liq     439 non-null    object
 22  roic                439 non-null    object
 23  div_yield           439 non-null    object
 24  roe                 439 non-null    object
 25  ev_ebitida          439 non-null    object
 26  liquidez_corr       439 non-null    object
 27  giro_ativos         439 non-null    object
 28  div_br_patrim       439 non-null    object
 29  cres_rec_5a         439 non-null    object
 30  ativo               439 non-null    object
 31  disponibilidades    439 non-null    object
 32  ativo_circulante    439 non-null    object
 33  div_bruta           439 non-null    object
 34  div_liquida         439 non-null    object
 35  patrimonio_liquido  439 non-null    object
 36  receita_Liquida_12  439 non-null    object
 37  receita_Liquida_3   439 non-null    object
 38  ebit_12             439 non-null    object
 39  ebit_3              439 non-null    object
 40  lucro_liquido_12    439 non-null    object
 41  lucro_liquido_3     439 non-null    object
dtypes: object(42)
memory usage: 144.2+ KB

In [7]:
typeset = CompleteSet()

lista = cast_to_inferred(lista, typeset)
lista.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 42 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   scraped_date        439 non-null    datetime64[ns]
 1   codigo              439 non-null    object
 2   cotacao             439 non-null    float64
 3   data_cotacao        439 non-null    object
 4   setor               439 non-null    object
 5   subsetor            439 non-null    object
 6   valor_mercado       439 non-null    int64
 7   valor_firma         439 non-null    object
 8   numero_acoes        439 non-null    int64
 9   pl                  439 non-null    float64
 10  lpa                 439 non-null    float64
 11  pvp                 439 non-null    float64
 12  vpa                 439 non-null    float64
 13  pebit               439 non-null    float64
 14  marg_bruta          439 non-null    float64
 15  psr                 439 non-null    float64
 16  marg_ebit           439 non-null    float64
 17  pativos             439 non-null    float64
 18  marg_liquida        439 non-null    float64
 19  p_cap_giro          439 non-null    float64
 20  ebit_ativo          439 non-null    float64
 21  p_ativ_circ_liq     439 non-null    float64
 22  roic                439 non-null    float64
 23  div_yield           439 non-null    float64
 24  roe                 439 non-null    float64
 25  ev_ebitida          439 non-null    float64
 26  liquidez_corr       439 non-null    float64
 27  giro_ativos         439 non-null    float64
 28  div_br_patrim       439 non-null    float64
 29  cres_rec_5a         439 non-null    float64
 30  ativo               439 non-null    int64
 31  disponibilidades    439 non-null    int64
 32  ativo_circulante    439 non-null    int64
 33  div_bruta           439 non-null    int64
 34  div_liquida         439 non-null    int64
 35  patrimonio_liquido  439 non-null    int64
 36  receita_Liquida_12  439 non-null    int64
 37  receita_Liquida_3   439 non-null    int64
 38  ebit_12             439 non-null    int64
 39  ebit_3              439 non-null    int64
 40  lucro_liquido_12    439 non-null    int64
 41  lucro_liquido_3     439 non-null    int64
dtypes: datetime64[ns](1), float64(22), int64(14), object(5)
memory usage: 144.2+ KB

In [3]:
lista.loc[lista.setor == 'Utilidades Domésticas', ['codigo', 'cotacao', 'pl', 'roe', 'div_yield', 'lpa']].sort_values(['div_yield'], ascending=False)

    codigo cotacao     pl                   roe div_yield   lpa
434  WHRL4     7.1   7.53                  0.77      0.15  0.94
416  UCAS3     4.5  26.74                 0.069     0.139  0.17
433  WHRL3    6.96   7.38                  0.77     0.139  0.94
228  HETA3    4.01   0.59  0.009000000000000001       0.0  6.75
229  HETA4    8.02   1.19  0.009000000000000001       0.0  6.75
235  IGBR3     8.5   8.26  0.013999999999999999       0.0  1.03